* {
	margin: 0px;
	padding: 0px;
}

@media screen and (min-width: 600px) {
	section.section {
		height: 70vh;
		width: 25em;
		margin: 0 auto;
	}
}

.field#password p.help {
	display: none;
}

nav.navbar {
	background-color: rgb(250, 250, 250);
}
